{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="text-align: center;">Movies</h1>

  <div class="container">
    <div class="card mb-3" style="max-width: auto; background-color:lightgrey;">
      <div class="row no-gutters">
        <div class="col-md-4">
        {% if poster_path != "N/A" %}
          <img src="{{ poster_path }}" class="card-img" alt="poster_path">
        {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title text-primary">{{ title_movie }}</h3>
            <p class="card-text" style="font-size:0.8em;">{{ content }}</p>
            <p class="card-text">{{ release_date }}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
        <a href="{{ path('list') }}"><button type="button" class="btn btn-sm btn-dark text-warning">Back to the Movies List</button></a>&nbsp
        <a href="#"><button type="button" class="btn btn-sm btn-primary text-light">Add to My Movies List</button></a>
        <a href="#"><button type="button" class="btn btn-sm btn-success text-light">Share My Movies List</button></a>
</div>
{% endblock %}
