{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="text-align: center;">Movies</h1>



    <div class="card mb-3" style="max-width: 650px; background-color:lightgrey;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ poster_path }}" class="card-img" alt="poster_path">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title text-primary">{{ title_movie }}</h3>
        <p class="card-text" style="font-size:0.8em;">{{ release_date }}</p>
        <p class="card-text">{{ content }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
    {# <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/fabri/Desktop/Rendu/symfony_project/src/Controller/HelloController.php'|file_link(0) }}">src/Controller/HelloController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/fabri/Desktop/Rendu/symfony_project/templates/hello/index.html.twig'|file_link(0) }}">templates/hello/index.html.twig</a></code></li>
    </ul> #}
</div>
{% endblock %}
