<div class="row">
    <div class="col-6 offset-3">
        <div class="card bg-light">
            <div class="card-body">
                <h1 class="text-center">{{ title }}</h1>
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}
                {% if app.user.admin == true %}
                    {{ form_row(form.admin) }}
                {% endif %}
                <button class="btn btn-dark text-warning btn-block">{{ title }}</button>
                {{ form_row(form.Confirmation_Box) }}
                {{ form_rest(form) }}
                {{ form_end(form, { 'render_rest': false }) }}
            </div>
        </div>
    </div>
</div>
